body{
	background-image: ;
}
#table{
	border: 1px solid black;
	padding: 10px 25px 28px 25px;
	border-radius: 10px;
	border-right: none;
	border-top: none;
	margin-top: 8%;
	background-color: #f9f9f9;
}
form{
	border: none ;
}
article{
	background-color: #f9f9f9;
	margin-top: 80px;
}
h1{
	text-align: center;
}
.Id{
	border-bottom: 1px solid black;
	width: 200px;
	border-left: 1px solid black;
	border-radius: 0px 3px 3px 3px;
}
.id{
	border-bottom: 1px solid black;
	width: 10px;
	border-radius: 5px;
}
#ID{
	width: 50px;
	border-bottom: 1px solid black;
	border-radius: 5px;
}
.ID{
	width: 50px;
	border-bottom: 1px solid black;
	border-radius: 5px;
}
/*.mail{
	border-bottom: 1p solid black;
	border-radius: 5px;
}*/
.IDs{
	width: 100px;
	border-bottom: 1px solid black;
	border-radius: 5px;
}
@media (max-width: 600px){
	h1{
		width: 100%;
	}
	.Id{
		width: 100%;
	}
	.id{
		width: 70%;
	}
	#ID{
		width: 30%;
	}
}
@media (min-width: 601px){
	h1{
		width: 100%;
	}
	.Id{
		width: 100%;
	}
	.id{
		width: 40%;
	}
	#ID{
		width: 30%;
	}
	/*.mail{
		width: 25%;
		border-bottom: 1p solid black;
		border-radius: 5px;
	}*/
}